.search{
    color: white;
    margin-left: 28%;
    margin-top: 30%;
  }
  .search label{
      margin-right: 20px;
      font-size: 20px;
  }
  .search input{
      width: 250px;
      height: 30px;
      border-radius: 5px;
      border-style: solid;
      border-color: grey;
  }
  .search button{
      margin-top: 40px;
      margin-left: 12%;
      height: 50px;
      width: 150px;
      background-color: orange;
      border-style: none;
      outline-style: none;
      border-radius: 30px;
      color: white;
      font-weight: bold;
      font-size: 16px;
      
  }
  .container{
    display: flex;
    

  }
.title{
    background-image: url("https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    background-size: 1050px;
   
}
#titleLogo{
    background: -webkit-linear-gradient(rgb(247, 152, 27), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 5%;
    margin-left: 5%;
}