.search{
  color: white;
}
.search label{
    margin-right: 20px;
    font-size: 20px;
}
.search input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: greenyellow;
}
.search button{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    background-color: orange;
    border-style: none;
    outline-style: none;
    border-radius: 30px;
    
}
.container{
    display: flex;
    
}
.display{
    color: white;
    margin-left: 30%;
    
}