.search{
  color: white;
}
.search label{
    margin-right: 20px;
    font-size: 20px;
}
.search input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
}
.search button{
    margin-top: 40px;
    height: 50px;
    width: 150px;
    background-color: orange;
    border-style: none;
    outline-style: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}
.container{
    display: flex;
    
    
}
.display{
    color: rgb(49, 48, 48);
    margin-left: 20%;
    margin-top: 6%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 30px;
    display: none;
   
    
}
.title{
    margin-left: 10%;
    margin-top: 6%;
}
#titleLogo{
    background: -webkit-linear-gradient(rgb(247, 152, 27), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    letter-spacing: 3px;
}